.landing-page {
    text-align: center;
  }
  
  .hero-section {
    background: url('../images/hero-background.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 60px 20px;
    color: #f1c1c1;
    height: 400px;
    position: relative;
  }
  
  .hero-section h1 {
    font-size: 2.5em;
    margin: 0 0 10px;
    font-weight: bold;
    color: #333;
  }
  
  .hero-section p {
    font-size: 1.2em;
    margin: 0 0 20px;
    color: #555;
  }
  
  .hero-section .primary-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .hero-section .primary-button:hover {
    background-color: #0056b3;
  }
  
  .hero-section-content {
    position: relative;
    z-index: 1;
  }
  
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Adjust opacity */
    z-index: 0;
  }
  