.download-app-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .app-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .app-buttons button {
    margin: 0 10px;
  }
  